     *{
      margin: 0;
      padding: 0;
     }
     a {
      text-decoration: none;
     }
     body {
      height: 100vh;
      background: url(tree.png) no-repeat center center;
      background-size: cover;
     }
     kbd {
      border: 1px solid black;
      border-radius: 7px;
      box-shadow: 0 0 0 1px #1a1b1c, 0 0 0 2px #1f2020, 0 2px 0 2px #888;
      width: 50px;
      height: 40px;
      line-height: 40px;
      background: linear-gradient(to bottom, #292929 0%, #111 100%);
      color: #c5c5c5;
      font-family: Helvetica;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      margin:4px;
      position: relative;
     }
     kbd > button {
      position: absolute;
      right: 0;
      bottom: 0;
      display: none;
      width: 16px;
      height: 16px;
      border-radius: 7px;
      background: #fff;
     }
     kbd:hover >button {
      display: inline-block;
     }
     #main> div:nth-child(2) {
         margin-left: -22px;
     }
     #main> div:nth-child(3) {
         margin-left: -80px;
     }
     kbd > img {
      width: 12px;
      height: 12px;
      border-radius: 4px;
      position: absolute;
      left: 2px;
      bottom: 2px;
     }
     main {
      height: 100vh;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
     }
     .wrapper {
      display: inline-block;
      background: rgba(0,0,0,.4);
      padding: 20px;
     }